main {
  overflow: hidden;

  .row {
    height: 100vh;

    .player {
      position: absolute;
      padding: 5px 10px;
      border-radius: 2px;
      color: white;
    }

    .player-left {
      top: 30%;
      left: 0;
      background-color: #1abc9c;
    }

    .player-top {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #9b59b6;
    }

    .player-right {
      top: 30%;
      right: 0;
      background-color: #e67e22;
    }

    .player-bottom {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #2980b9;
    }

    .human-cards {
      position: absolute;
      top: 60%;
    }

    .card {
      width: 60px;
      height: 100px;
      cursor: pointer;
    }

    .card.disabled {
      cursor: not-allowed;
    }

    .card:not(.disabled):hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .board {
      .middle-cards {
        position: absolute;
      }

      .card-left {
        left: 30%;
        transform: translateX(-30%) rotate(90deg);
        top: 160px;
      }

      .card-top {
        left: 50%;
        transform: translateX(-50%);
        top: 70px;
      }

      .card-right {
        right: 30%;
        transform: translateX(30%) rotate(90deg);
        top: 160px;
      }

      .card-bottom {
        left: 50%;
        transform: translateX(-50%);
        top: 250px;
      }
    }
  }
}
